@font-face {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/icomoon.woff?tregbo') format('woff');
}

[class^='icon-'],
[class*=' icon-'] {
    line-height: 1;
    font-family: 'icomoon', sans-serif;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    speak: none;
    text-transform: none;
}

.icon-search::before {
    content: '\f002';
}
.icon-clear::before {
    content: '\f00d';
}
.icon-plus-circle::before {
    content: '\f055';
}
.icon-rotate-left::before {
    content: '\f0e2';
}
