@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.woff?tregbo') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\f002";
}
.icon-clear:before {
	content: "\f00d";
}
.icon-plus-circle:before {
	content: "\f055";
}
.icon-rotate-left:before {
	content: "\f0e2";
}
