.u-hidden {
  display: none;
}

.v-Button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  padding: 6px 9px;
  line-height: 1.35;
  background: none;
  cursor: default;
  white-space: nowrap;
}
.v-Button--hasIcon > .label {
  padding-left: 27px;
}
.v-Button > .icon {
  position: absolute;
  top: 0;
  bottom: 2px;
  margin: auto 0 auto 1px;
  width: 16px;
  height: 16px;
  font-size: 16px;
}
.v-Button.is-disabled > .icon {
  opacity: 0.6;
}

.v-Button.v-Button--iconOnly {
  overflow: hidden;
  width: 32px;
}
.v-Button.v-Button--iconOnly > .icon {
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
.v-Button.v-Button--iconOnly > .label {
  position: absolute;
  top: 100%;
}

.v-SearchInput > .v-TextInput-input {
  padding-right: 29px;
  padding-left: 29px;
}
.v-SearchInput > .icon {
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 8px;
  margin: auto;
  height: 18px;
  color: #888;
  font-size: 18px;
  text-shadow: none;
}
.v-ClearSearchButton {
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  width: 26px;
  background: transparent;
  color: #888;
}
.v-ClearSearchButton:hover {
  color: #555;
}

.v-TextInput {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #aaa;
  padding: 5px 0;
  width: 100%;
  line-height: 1.25;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.v-TextInput.is-disabled {
  background-color: #f6f6f6;
}

.v-TextInput-input {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  padding: 0 5px;
  width: 100%;
  background: none;
  outline: none;
  word-wrap: break-word;
}
input.v-TextInput-input {
  margin: -5px 0;
  padding: 5px 6px;
}
textarea.v-TextInput-input {
  overflow: hidden;
  display: block;
}
.v-TextInput-input::-webkit-input-placeholder,
.v-TextInput-input::-moz-placeholder,
.v-TextInput-input:-ms-input-placeholder {
  color: #777;
}
.v-TextInput-input--placeholder {
  color: #777;
}

.v-Toolbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #777;
  padding: 0 10px;
  height: 44px;
  background: rgba(86, 50, 33, 0.69);
  white-space: nowrap;
}

.v-Toolbar-flex {
  flex: 1 0 10px;
}

.v-Toolbar > .v-Button {
  float: left;
  margin-top: 1px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 34px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: #fff;
}
.v-Toolbar > .v-Button:not(.is-disabled):hover {
  background: rgba(0, 0, 0, 0.2);
}
.v-Toolbar > .v-Button:not(.is-disabled):active,
.v-Toolbar > .v-Button:not(.is-disabled).is-active {
  background: rgba(0, 0, 0, 0.3);
}
.v-Toolbar > .v-Button:disabled,
.v-Toolbar > .v-Button.is-disabled {
  opacity: 0.7;
}

.v-Toolbar > .v-Button > .icon {
  left: 9px;
}

.v-Toolbar > .v-Button.v-Button--iconOnly > .icon {
  left: 0;
}

.v-Toolbar > .v-Button--hasIcon > .label {
  padding-left: 22px;
}

.v-Toolbar > .v-TextInput {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  flex: 0 1 auto;
  border: 1px solid #c5c5c5;
  padding-top: 7px;
  padding-bottom: 7px;
  height: 34px;
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: none;
}
.v-Toolbar > .v-TextInput.is-focussed {
  background-color: #fff;
}
