/* Remove all default margins and padding */

body,
dl, dt, dd,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code,
form, fieldset, legend, input, select, button, textarea,
p,
blockquote,
table, tr, th, td {
  margin: 0;
  padding: 0;
}

/* Remove all default borders and outlines */

iframe,
fieldset,
img {
  border: 0;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* Remove FF dotted borders */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Remove Safari blue glow */
button,
a:focus,
input:focus {
  outline: none;
}

/* Remove default "invalid" input styles */
:invalid,
:-moz-submit-invalid,
:-moz-ui-invalid {
  box-shadow: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Make iframes and tables default to 100% width */

/* Many emails use <table width="foo"> to do their layout. If you assign
   a CSS width to such a table, there is no way to undo it. */
table:not([width]) {
  width: 100%;
}

iframe {
  width: 100%;
}

/* Remove default list styling */

ul, ol {
  list-style: none;
}

/* Remove WebKit user-resize widget */
textarea {
  resize: none;
}

/* Colours and fonts */

html {
  color: #000;
  background: #fff;
  font: 13px/1.25 "Helvetica Neue", arial, sans-serif;
}

a,
button,
span,
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1, h2, h3, h4, h5, h6,
address,
caption,
cite,
code,
em,
strong,
table, th,
select,
input,
button,
textarea,
pre {
  color: inherit;
  font: inherit;
  text-align: inherit;
}

/* Pre */

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
